body {
	background-color: #111111;
	color: #ffffff;
	font-family: Monospace;
	font-size: 14px;
	line-height: 24px;
	height: 100%;
	width : 100%;
}

table {
  margin: 0 auto;
}

table, th, td {
  font-size: 16px;
  border: 1px solid white;
  border-collapse: collapse;
}

th, td {
  padding: 5px;
}

th {
  text-align: center;
}

td {
  text-align: left;
}

.doc{
	background-color: #111111;
	text-align: justify;
	text-justify: inter-word;
}

.sidenav {
  background-color: #000000; /* Black */
  padding-top: 10px;
  text-align : left;
}



.bottomnav{
  overflow: hidden;
  position: fixed;
  bottom: 0;
  width: 120px;
}

.bottomnav a {
  text-align: center;
  text-decoration: none;
}

.bottomnav a:hover {
  text-decoration: underline;
  color: #aaaaaa;
}

/* The navigation menu links */
.sidenav a {
  padding: 6px 8px 6px 16px;
  text-decoration: none;
  font-size: 18px;
  color: #818181;
  display: block;
  text-align : left;
}

/* When you mouse over the navigation links, change their color */
.sidenav a:hover {
  text-decoration: underline;
  color: #aaaaaa;
}

.photo {
	position: relative;
	left : 20px;
	top  : 20px;
	width : 180px;
	height: 180px;
}

.poem {
  	background-color: #111111;
	width : 50%;
	position: relative;
	text-align: justify;
	text-justify: inter-word;
	overflow : hidden;
}

.poem p {
	text-align: right;
	font-style: italic;
}

a {
	color: #bbbbbb;
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
}

/* Tabled Portrait */
@media screen and (min-width: 800px) {

    .doc { 
		margin: 0 20px;
		width:720px; 
		height: 100%;
		width : 720px;
		margin-left: 200px;
		position: absolute;
	}

    .sidenav {
		height: 100%; /* Full-height: remove this if you want "auto" height */
		width: 200px; /* Set the width of the sidebar */
		position: fixed; /* Fixed Sidebar (stay in place on scroll) */
		top: 0; /* Stay at the top */
		left: 0;
		overflow : hidden;
	}
}

/* Tablet Landscape */
@media screen and (max-width: 800px) {
    .doc {
		width:95%;
	}
    .sidenav {
		height: 200px;
		width:100%;
		margin:0;
		border:none;
	}
	.sidenav photo{
		float: left;
	}
	.sidenav a{
		float: left;
	}
	.sidenav ul{
		float: left;
	}
	.poem {
		width : 90%;
	}
}
