@import 'https://cdn.rawgit.com/h-ibaldo/Raleway_Fixed_Numerals/master/css/rawline.css';

/* Define color variables */
.light-mode:root {
  /* Body */
  --body-backgroud-color: #eeeeee;
  --body-color: #000000;
  /* Table */
  --table-border: 1px solid black;
  /* a tag */
  --a-color: #444444;
  --a-link-hover: #000000;
  /* Poem */
  --poem-backgroud-color: #eeeeee;
  --poem-border-bottom: 1pt solid black;
  /* Timeline */
  --timeline: 1pt solid black;
  /* Event */
  --event-h2: black;
  --event-h2-hover: dimgray;
  --event-pre: 1pt solid black;
  /* Suploz Dagger */
  --suploz-color: crimson;
}

.dark-mode:root {
  /* Body */
  --body-backgroud-color: #111111;
  --body-color: #ffffff;
  /* Table */
  --table-border: 1px solid white;
  /* a tag */
  --a-color: #bbbbbb;
  --a-link-hover: #ffffff;
  /* Poem */
  --poem-backgroud-color: #111111;
  --poem-border-bottom: 1pt solid gray;
  /* Timeline */
  --timeline: 1pt solid gray;
  /* Event */
  --event-h2: #bbbbbb;
  --event-h2-hover: #dddddd;
  --event-pre: 1pt solid gray;
  /* Suploz Dagger */
  --suploz-color: gold;
}

body.fade {
  /* Color transition */
  -webkit-transition: background-color 500ms linear;
  -ms-transition: background-color 500ms linear;
  transition: background-color 500ms linear;
}

body {
  background-color: var(--body-backgroud-color);
  color: var(--body-color);
  font-family: Monospace;
  text-align: justify;
  text-justify: inter-word;
  font-size: 14px;
  line-height: 24px;
  height: 100%;
}

footer{
  text-align: center;
}

table {
  margin: 0 auto;
  caption-side: bottom;
}

table, th, td {
  font-size: 16px;
  border: var(--table-border);
  border-collapse: collapse;
}

th, td {
  padding: 5px;
}

th {
  text-align: center;
}

td {
  text-align: left;
}

.photo {
	position: relative;
	left : 20px;
	top  : 20px;
	width : 180px;
	height: 180px;
}

.poem {
  background-color: var(--poem-background-color);
  border-bottom: var(--poem-border-bottom);
	width : 50%;
	position: relative;
	text-align: justify;
	text-justify: inter-word;
	overflow : hidden;
}

.poem p {
  text-align: right;
  font-family: Monospace;
}

a {
	color: var(--a-color);
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
}

a.link {
  /* same as h1 */
  display: inline;
  font-family: Serif;
  font-size: 2.5em;
}

a.link:hover {
  color: var(--a-link-hover);
  text-decoration: none;
}

a.link l {
  font-size: 0.75em;
  display: none;
}

a.link:hover l {
  color: var(--a-link-hover);
  display: inline;
}

@font-face {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 400;
  src: local('Raleway'), local('Raleway-Regular'), url(https://fonts.gstatic.com/s/raleway/v11/0dTEPzkLWceF7z0koJaX1A.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215;
}

.event {
  /* border-bottom: 1pt solid gray; */
  padding-top: 10pt;
  padding-bottom: 10pt;
}

.event h2 {
  font-family: Serif;
  font-size: 2em;
  color: var(--event-h2);
}

.event h2:hover {
  color: var(--event-h2-hover);
  cursor: default;
}

.event ul {
  list-style-type: square;
}

.event pre {
  display: block;
  text-align: left;
  border-left: var(--event-pre);
  padding-left: 10pt;
}

#container {
  font-family: 'rawline', Arial, Helvetica, sans-serif;
  font-size: 16px;
  padding-left: 1em;
  padding-right: 1em;
  max-width: 44em;
  line-height: 27px;
  padding-top: 20px;
  padding-bottom: 20px;
  margin-left: auto;
  margin-right: auto;
}

.timeline {
  border-left: var(--timeline);
  padding-top: 0 !important;
  padding-bottom: 0 !important;
  margin-bottom: 50px;
}


#name {
  font-size: 35pt;
  line-height: 1;
  font-weight: lighter;
}

#sec {
  font-size: 22pt;
  line-height: 1;
  font-weight: lighter;
}

#left {
  margin-bottom: 1.15em;
}

#right {
  flex-grow: 1;
}

#headshot {
  width: 150px;
  border-radius: 50%;
  margin-bottom: 0.5em;
}

#research {
  width: 200px;
  margin-bottom: 0.5em;
}

#horoscope {
  width: 75%;
}

#horoscope th{
    width: 50%;
    text-align: center;
    padding: 0.5em;
  }
#horoscope td{
    width: 50%;
    text-align: center;
    font-family: Monospace;
    font-size: 32pt;
    padding: 0.5em;
  }

a {
  text-decoration: none;
}

#links p {
  margin-bottom: 0.0em;
}

#links {
  font-size: 18pt;
}

p {
  margin-top: 0em;
}

/* Big Screens */
@media screen and (min-width: 800px) {
  #container {
    padding-left: 28px;
    padding-right: 28px;
  }

  #leftright {
    display: flex;
  }

  #left {
    margin-right: 1.15em;
  }

  .poem {
    width: 50%;
  }
}

/* Small Screens (mobile) */
@media screen and (max-width: 800px) {
  .poem {
		width:100%;
	}
}

.suploz {
  font-size: 25px;
  vertical-align: 1.0ex;
  color: var(--suploz-color);
}

/* LaTeX stuff */
.tex sub, .latex sub, .latex sup {
  text-transform: uppercase;
}

.tex sub, .latex sub {
      vertical-align: -0.5ex;
      margin-left: -0.1667em;
      margin-right: -0.125em;
}

.tex, .latex, .tex sub, .latex sub {
  font-size: 1em;
  font-family: Serif;
}

.latex sup {
      font-size: 0.85em;
      vertical-align: 0.15em;
      margin-left: -0.36em;
      margin-right: -0.15em;
}

