body {
	background-color: #111111;
	color: #ffffff;
	font-family: Monospace;
	font-size: 14px;
	line-height: 24px;
	height: 100%;
	width : 100%;
}

.sidenav {
  height: 100%; /* Full-height: remove this if you want "auto" height */
  width: 200px; /* Set the width of the sidebar */
  position: fixed; /* Fixed Sidebar (stay in place on scroll) */
  top: 0; /* Stay at the top */
  left: 0;
  background-color: #; /* Black */
  padding-top: 20px;
  text-align : left;
  overflow : hidden;
}

.bottomnav{
  overflow: hidden;
  background-color: #333;
  position: fixed;
  bottom: 0;
  width: 100%;
}

.bottomnav a {
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.doc{
	background-color: #111111;
	height: 100%;
	width : 720px;
	margin-left: 200px;
	position: absolute;
	text-align: justify;
	text-justify: inter-word;
}

/* The navigation menu links */
.sidenav a {
  padding: 6px 8px 6px 16px;
  text-decoration: none;
  font-size: 18px;
  color: #818181;
  display: block;
  text-align : left;
}

/* When you mouse over the navigation links, change their color */
.sidenav a:hover {
  text-decoration: underline;
  color: #aaaaaa;
}

.photo {
	position: relative;
	left : 20px;
	top  : 20px;
	width : 180px;
	height: 180px;
}

.poem {
  	background-color: #111111;
	width : 50%;
	position: relative;
	text-align: justify;
	text-justify: inter-word;
	overflow : hidden;
}

.poem p {
	text-align: right;
	font-style: italic;
}

a {
	color: #aaaaaa;
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
}
