:root {
    /* Colors */
    --bg-color: #fff7df;
    --fg-color: black;

    --github-color: #389826;
    --blog-color: #4063d8;
    --about-color: #9558b2;
    --research-color: #cb3c33;
    --contact-color: #cbaf33;
    --projects-color: #d8558e;
    --home-color: #3faa98;
}

