:root {
    /* Colors */
    --color-bg: #fefee4ff;
    --color-fg: #000000cd;

    --color-github: #389826;
    --color-blog: #4063d8;
    --color-about: #9558b2;
    --color-research: #cb3c33;
    --color-contact: #cbaf33;
    --color-projects: #d8558e;
    --color-teaching: #55d8d490;
    --color-home: #3faa98;
    --color-note: #fff80024;

    --color-link-hover: #5185ec;
    --color-selection: #5185ec8c;
    --color-title-selection: #3278c7;

    --color-alpha: #5185ec8c;
    --color-alpha-hover: #3278c7ff;

    --color-beta: #3faa9885;
    --color-beta-hover: #3faa98;

    --color-gamma: #d8558e8d;
    --color-gamma-hover: #d8558e;

    --color-delta: #cbaf338d;
    --color-delta-hover: #cbaf33;

    --color-stealth: #ffffff00;
    --color-stealth-hover: #ffffff3c;

    /* Font */
    --font-size-tiny: 9pt;
    --font-size-small: 12pt;
    --font-size-normal: 14pt;
    --font-size-big: 24pt;
    --font-size-large: 32pt;
    --font-size-huge: 48pt;

    /* Sizes */
    --width-body: 600px;
    --width-header: 100%;
    --height-header: 120px;
    --margin-title: 0 0 25px 0;
    --margin-header: 0 0 0 0;
    --width-title: 100%;
    --width-abstract: 320px;
    --size-profile: 200px;
    --size-cell: 400px;
    --size-cell-home: 200px;
    --height-section: 360px;
    --margin-section: 40px;
    --width-places: 50%;

    --data-year: "2024";
    --data-city: "Rio de Janeiro";
    --data-author: "Pedro Maciel Xavier";
}

@media only screen and (max-width: 800px) {
    :root {
        --width-body: 90%;
        --pos-cell: static;
    }
}

@media only screen and (min-width: 1024px) {
    :root {
        /* Font */
        --font-size-tiny: 12pt;
        --font-size-small: 20pt;
        --font-size-normal: 16pt;
        --font-size-large: 36pt;
        --font-size-huge: 72pt;

        /* Sizes */
        --width-body: 900px;
        --margin-title: 0 0 50px 0;
        --width-abstract: 500px;
        --size-profile: 360px;
        --size-cell: 500px;
        --height-section: 300px;
    }
}

@media only screen and (min-width: 2048px) {
    :root {
        /* Font */
        --font-size-tiny: 12pt;
        --font-size-small: 20pt;
        --font-size-normal: 32pt;
        --font-size-large: 54pt;
        --font-size-huge: 100pt;

        /* Sizes */
        --width-body: 1700px;
        --margin-title: 0 0 75px 0;
        --width-abstract: 1000px;
        --size-profile: 500px;
        --size-cell: 720px;
        --height-section: 800px;
    }
}
