:root {
    /* Yellow Pages */
    --color-yp-bg: #ffd400; 
    --color-yp-fg: #000000; 
    --color-yp-ch-bg: #999999;
}

card.yp {
    padding: 20pt;
    background-color: var(--color-yp-bg);
}

    card.yp > ch.yp {
        color: var(--color-yp-fg);
        border: 2pt solid var(--color-yp-fg);
        padding: 10pt;
        background-color: var(--color-yp-ch-bg);
        font-family: Arial, Helvetica, sans-serif;
        font-weight: bold;
    }

    card.yp > cl.yp {
        display: grid;
    }

    card.yp > cl.yp > ci.yp {
        font-family: Arial, Helvetica, sans-serif;
    }