@import url(font.css);
@import url(color.css);

html {
    text-align: center;
}

body {
    width: 100%;
    padding: 0;
    margin-left: auto;
    margin-right: auto;
    overflow: scroll;
    background-color: var(--bg-color);
}

header {
    text-align: center;
    text-anchor: middle;
    font-size: var(--font-size-huge);
    font-family:'Times New Roman', Times, serif;
}

svg#profile, svg#abstract, svg.bubble, svg#footer {
    position: absolute;
    overflow: visible;
}

svg#profile, svg.bubble, svg#footer {
    width: 200px;
    height: 200px;
}

svg#abstract {
    width: 300px;
    height: 100px;
}

svg#profile text {
    color: var(--fg-color);
    font-size: var(--font-size-small);
    font-family: Arial, Helvetica, sans-serif;
    text-anchor: start;
}

svg#abstract > text a {
    font-weight: bold;
    font-style: italic;
    font-family: Arial, Helvetica, sans-serif;
}

svg#abstract > text {
    color: var(--fg-color);
    font-size: var(--font-size-small);
    font-family: 'Times New Roman', Times, serif;
    text-anchor: start;
}

svg.bubble > a > path {
    fill: var(--bg-color);
    stroke: var(--fg-color);
    stroke-width: 2px;
    stroke-linejoin: bevel;
}

svg.bubble > a > text {
    text-anchor: middle;
    alignment-baseline: middle;
}

svg.bubble#github > a > text {
    color: var(--fg-color);
    font-size: var(--font-size-large);
    font-family: 'Times New Roman', Times, serif;
}

svg.bubble#github > a:hover > path {
    fill: var(--github-color);
}

svg.bubble#blog > a > text {
    color: var(--fg-color);
    font-size: var(--font-size-large);
    font-family: Helvetica, Arial, sans-serif;
    font-weight: bold;
    font-style: italic;
    text-transform: uppercase;
}

svg.bubble#blog > a:hover > path {
    fill: var(--blog-color);
}

svg.bubble#about > a > text {
    color: var(--fg-color);
    font-size: var(--font-size-large);
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

svg.bubble#about > a:hover > path {
    fill: var(--about-color);
}

svg.bubble#research > a > text {
    color: var(--fg-color);
    font-size: var(--font-size-large);
    font-family: 'Brush Script MT', cursive;
}

svg.bubble#research > a:hover > path {
    fill: var(--research-color);
}

svg.bubble#contact > a > text {
    color: var(--fg-color);
    font-size: var(--font-size-large);
    font-family: 'Courier New', Courier, monospace;
    text-transform: lowercase;
}

svg.bubble#contact > a:hover > path {
    fill: var(--contact-color);
}

svg.bubble#projects > a > text {
    color: var(--fg-color);
    font-size: var(--font-size-large);
    font-family: serif; 
    text-transform: lowercase;
}

svg.bubble#projects > a:hover > path {
    fill: var(--projects-color);
}

svg.bubble#home > a:hover > path {
    fill: var(--home-color);
}

svg.bubble#home > a > text {
    color: var(--fg-color);
    font-size: var(--font-size-large);
	font-weight: bold;
    font-family: 'Trebuchet MS', sans-serif;
	font-style: italic;
    text-transform: uppercase;
}

svg#footer > text > textPath {
    color: var(--fg-color);
    font-size: var(--font-size-tiny);
    font-family: Arial, Helvetica, sans-serif;
    text-anchor: start;
}

svg#footer > text {
    color: var(--fg-color);
    font-size: var(--font-size-tiny);
    font-family: Arial, Helvetica, sans-serif;
    text-anchor: middle;
}

/* Responsiveness ~ Default */
svg#profile {
    left: calc(50% + 85px); 
    top: 75px;
}

svg#abstract {
    left: calc(50% - 265px);
    top: 85px;
}

svg.bubble#github {
    left: calc(50% - 300px);
    top: 150px;
}

svg.bubble#blog {
    left: calc(50% + 70px);
    top: 260px;
}

svg.bubble#about {
    left: calc(50% - 140px);
    top: 315px;
}

svg.bubble#projects {
    left: calc(50% - 100px);
    top: 540px;
}

svg.bubble#research {
    left: calc(50% - 305px);
    top: 455px;
}

svg.bubble#contact {
    left: calc(50% + 95px);
    top: 450px;
}

svg#footer {
    left: calc(50% - 100px);
    top: 700px;
}

/* Responsiveness ~ Switch */
@media (max-width: 320px) {

}
@media (max-width: 480px) {

}
@media (max-width: 600px) {

}
@media (max-width: 768px) {

}
@media (max-width: 900px) {
    
}