@import url(settings.css);

html {
    text-align: center;
    background-color: var(--color-bg);
}

body {
    width: var(--width-body);
    padding: 0;
    margin-left: auto;
    margin-right: auto;
}

header {
    width: 100%;
    position: relative;
    display: inline-block;
    text-align: center;
    text-anchor: middle;
    margin: var(--margin-header);
}

span#title {
    display: block;
    margin: var(--margin-title);
    width: var(--width-title);
    font-size: var(--font-size-huge);
    font-family: 'Times New Roman', Times, serif;
}

header>a {
    display: inline-block;
    position: absolute;
    z-index: 1;
    color: var(--color-fg);
    font-size: var(--font-size-large);
    text-align: center;
    line-height: 200px;
    width: 200px;
    height: 200px;
    text-decoration: none;
}

header>a#home {
    top: -60px;
    left: -100px;
    font-style: italic;
    font-weight: bold;
    font-family: 'Trebuchet MS', sans-serif;
    text-transform: uppercase;
    clip-path: polygon(7.5% 20.0%, 10.0% 30.0%, 40.0% 35.0%, 42.5% 15.0%);
}

header>a#home:hover {
    background-color: var(--color-home);
}

p#abstract {
    color: var(--color-fg);
    float: left;
    width: var(--width-abstract);
    margin: 0;
    display: block;
    font-size: var(--font-size-normal);
    text-align: justify;
    font-family: 'Times New Roman', Times, serif;
}

::selection {
    background-color: var(--color-selection);
}

p#abstract>a {
    color: var(--color-fg);
    font-style: italic;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    text-decoration: none;
}

p#abstract>a:hover {
    background-color: var(--color-link-hover);
}

svg#profile {
    display: block;
    float: right;
    width: var(--size-profile);
    height: var(--size-profile);
    overflow: visible;
}

svg#profile text {
    color: var(--color-fg);
    font-size: var(--font-size-tiny);
    font-family: Arial, Helvetica, sans-serif;
    text-anchor: start;
}

section {
    position: relative;
    width: 100%;
    height: var(--height-section);
    display: inline-block;
    text-align: center;
}

a.cell {
    display: inline-block;
    position: var(--pos-cell);
    z-index: 1;
    text-align: center;
    color: var(--color-fg);
    font-size: var(--font-size-large);
    line-height: var(--size-cell);
    width: var(--size-cell);
    height: var(--size-cell);
    text-decoration: none;
}

a.cell#github {
    top: var(--pos-top-github);
    left: var(--pos-left-github);
    font-family: 'Times New Roman', Times, serif;
    clip-path: polygon(25.0% 42.5%, 41.25% 67.5%, 72.5% 62.5%, 75.0% 42.5%, 52.5% 37.0%);

}

a.cell#github:hover {
    background-color: var(--color-github);
}

a.cell#blog {
    top: var(--pos-top-blog);
    left: var(--pos-left-blog);
    font-family: Helvetica, Arial, sans-serif;
    font-weight: bold;
    font-style: italic;
    clip-path: polygon(25.0% 42.5%, 37.5% 62.5%, 57.5% 57.5%, 90.0% 50.0%, 45.0% 37.5%);
}

a.cell#blog:hover {
    background-color: var(--color-blog);
}

a.cell#about {
    top: var(--pos-top-about);
    left: var(--pos-left-about);
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    clip-path: polygon(25.0% 50.0%, 42.5% 65.0%, 57.5% 65.0%, 70.0% 50.0%, 52.5% 30.0%);
}

a.cell#about:hover {
    background-color: var(--color-about);
}

a.cell#research {
    top: var(--pos-top-research);
    left: var(--pos-left-research);
    font-family: 'Brush Script MT', cursive;
    clip-path: polygon(45.0% 37.5%, 50.0% 35.0%, 55.0% 37.5%, 27.5% 42.5%, 25.0% 57.5%, 70.0% 62.5%, 75.0% 55.0%, 72.5% 42.5%);
}

a.cell#research:hover {
    background-color: var(--color-research);
}

a.cell#projects {
    top: var(--pos-top-projects);
    left: var(--pos-left-projects);
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-transform: lowercase;
    clip-path: polygon(42.5% 27.5%, 40.0% 40.0%, 25.0% 55.0%, 75.0% 57.5%, 60.0% 37.5%, 57.5% 25.0%);
}

a.cell#projects:hover {
    background-color: var(--color-projects);
}

a.cell#contact {
    top: var(--pos-top-contact);
    left: var(--pos-left-contact);
    font-family: 'Courier New', Courier, monospace;
    text-transform: lowercase;
    clip-path: polygon(27.5% 40.0%, 27.5% 52.5%, 72.5% 62.5%, 72.5% 45.0%);
}

a.cell#contact:hover {
    background-color: var(--color-contact);
}

footer {
    width: 100%;
    display: inline-block;
    text-align: center;
}

footer>svg {
    width: 200px;
    height: 200px;
    overflow: visible;
}

footer>svg>text {
    color: var(--color-fg);
    font-size: var(--font-size-tiny);
    font-family: Arial, Helvetica, sans-serif;
    text-anchor: middle;
}

footer>svg>text>textPath {
    color: var(--color-fg);
    font-size: var(--font-size-tiny);
    font-family: Arial, Helvetica, sans-serif;
    text-anchor: start;
}