:root {
    /* Yellow Pages */
    --color-yp-bg: #ffd400; 
    --color-yp-fg: #000000; 
    --color-yp-ch-bg: #999999;
}

yellowpage {
    display: block;
    width: 100%;
    padding: 1em;
    background-color: var(--color-yp-bg);
    font-family: Helvetica, Arial, sans-serif;
}

entry {
    display: grid;
    grid-template-columns: auto max-content;
    grid-template-areas: "head tail";
    align-items: end;
    gap: 0 .25rem;
}

    span.head {
        grid-area: head;
        position: relative;
        overflow: hidden;
    }

    span.head::after {
        color: black;
        display: inline-block;
        position: absolute;
        padding-left: .25ch;
        content: ' . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . ';
        text-align: right;
    }

    span.tail {
        grid-area: tail;
    }