@import url(settings.css);

html {
    text-align: center;
    background-color: var(--color-bg);
}

body {
    width: var(--body-width);
    padding: 0;
    margin: 0 auto;
}

/* Cards */
card {
    margin: auto;
}

card>a {
    display: block;
    position: relative;
    z-index: 0;
    color: var(--color-fg);
    background: none;
    font-size: var(--font-size-large);
    font-weight: normal;
    font-style: normal;
    text-align: center;
    text-decoration: none;
}

card>a:hover {
    background-color: transparent;
}

card>a::before {
    content: "";
    position: absolute;
    background-color: transparent;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -10;
}

/* Cardboard */
.cardboard{
    display: grid;
    width: 100%;
    grid-template-columns: 30% 30% 30%;
    column-gap: 5%;
    grid-auto-flow: row;
    grid-auto-rows: max-content;
    margin: var(--section-margin) auto;
}

figure {
    max-width: 80%;
}

figure img {
    max-width: 100%;
    height: auto;
}

figure figcaption {
    font-size: var(--font-size-small);
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    font-style: normal;
    text-align: center;
}

header {
    width: 100%;
    display: grid;
    text-align: center;
    text-anchor: middle;
    margin: var(--margin-header);
    grid-template-columns: 10% 80% 10%;
    grid-template-rows: var(--height-header);
    grid-auto-flow: row;
    grid-row-gap: 10px;
}

header>a#home {
    display: inline-block;
    vertical-align: middle;
    line-height: var(--height-header);
    position: relative;
    grid-column: 1;
    grid-row: 1;
    font-style: italic;
    font-weight: bold;
    color: var(--color-fg);
    font-size: var(--font-size-big);
    font-family: 'Trebuchet MS', sans-serif;
    text-align: center;
    text-transform: uppercase;
    text-decoration: none;
    background-color: transparent;
}

header>a#home::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    background-color: transparent;
    clip-path: polygon(0% 38.5%, 5.28% 63.16%, 79.08% 81.39%, 86.53% 19.09%);
}

header>a#home:hover::before {
    background-color: var(--color-home);
}

header>span#title {
    grid-column: 2;
    grid-row: 1;
    margin: var(--margin-title);
    width: var(--width-title);
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    /* font-family: Arial, Helvetica, sans-serif; */
    /* font-family: 'Times New Roman', Times, serif; */
    text-transform: capitalize;
    font-size: var(--font-size-huge);
    /* font-weight: bold; */
    /* font-style: italic; */
    color: var(--color-title);
}

p {
    text-align: justify;
}

::selection {
    background-color: var(--color-selection);
}

ul {
    list-style-type: square;
    padding: 0;
    margin: 0;
}

h1,
h2,
h3,
h4,
h5 {
    color: var(--color-fg);
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    text-align: center;
    margin: 0;
}

a {
    color: var(--color-fg);
    font-style: italic;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    text-decoration: none;
}

a:hover {
    background-color: var(--color-link-hover);
}

object#places {
    width: var(--width-places);
}

section {
    width: 100%;
    display: block;
    text-align: center;
    margin-bottom: var(--margin-section);
}

section>p {
    font-size: var(--font-size-normal);
}

section>project {
    display: inline-block;
    position: relative;
}

section>project>span {
    display: block;
}

section>project:nth-child(odd)>p,
section>project:nth-child(odd)>span {
    display: block;
    float: left;
}

section>project:nth-child(odd)>img {
    float: right;
}

section>project:nth-child(even)>p {
    float: right;
}

section>project:nth-child(odd)>img {
    float: left;
}

footer {
    width: 100%;
    display: inline-block;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: var(--font-size-tiny);
    font-weight: bold;
    font-style: italic;
    margin: var(--footer-margin) auto;
    color: #000;
}

footer::before {
    content: var(--data-city) ", 2020-" var(--data-year) " © " var(--data-author);
}

note {
    display: inline-block;
    padding: 0.5cm;
    background-color: var(--color-note);
    border: 3px solid var(--color-note);
}

note>span {
    display: block;
    font-size: var(--font-size-normal);
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    font-style: italic;
}

note>table {
    display: block;
    text-align: center;
    width: 100%;
    margin-bottom: 20px;
}

note>table:last-child {
    margin-bottom: auto;
}

email {
    font-size: var(--font-size-small);
    font-family: "Comic Sans MS", "Comic Sans", sans-serif;
    display: block;
    float: left;
}

at {
    font-style: italic;
}

at::before {
    content: "😎";
}

button {
    font-size: var(--font-size-small);
    display: inline-block;
    text-align: center;
    vertical-align: middle;
    writing-mode: horizontal-tb !important;
    border-width: 0;
    margin: 0;
}

td {
    padding: 0 15px;
}

.clip {
    text-decoration: none;
    font-style: normal;
    cursor: grab;
}

.clip:hover {
    background-color: transparent;
}

.clip:active {
    cursor: grabbing;
}

table>caption {
    caption-side: bottom;
}

/* Special: Horoscope */

table#horoscope {
    width: 200px;
    border: 3pt solid var(--color-fg);
    display: block;
    text-align: center;
    color: var(--color-fg);
    margin: auto;
}

table#horoscope>thead>tr>th {
    padding: 0 15px;
    font-size: var(--font-size-normal);
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    text-transform: uppercase;
}

table#horoscope>tbody>tr>td {
    padding: 0 15px;
    font-size: var(--font-size-normal);
    font-family: monospace;
    font-weight: bold;
    text-align: center;
}

/* Special: Timeline */

timeline {
    display: block;
    text-align: center;
    margin: auto;
    width: 80%;
}

timeline>period {
    display: inline-block;
    position: relative;
    width: 100%;
    text-align: center;
    margin: 0;
    padding: 20px;
}

timeline>period h1 {
    display: block;
    font-size: var(--font-size-big);
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    text-align: center;
    margin: 0;
    padding: 0;
}

timeline>period>details {
    display: block;
    text-align: left;
}

timeline>period>details summary {
    font-size: var(--font-size-normal);
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    text-align: left;
}

timeline>period>details h3 {
    display: block;
    font-size: var(--font-size-small);
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    text-align: left;
    margin: 0;
    padding: 0;
}

timeline>period>h1 {
    text-align: left;
}

timeline>period {
    border-bottom: 2px solid var(--color-fg);
}

timeline>period:last-child {
    border-bottom: none;
}

subsection {
    display: block;
    grid-column: 2;
    text-align: left;
    margin: 0 auto;
    padding: 0;
}

subsection h1 {
    margin-bottom: 20px;
}

subsection details {
    margin-bottom: 20px;
}

subsection details > summary {
    font-size: var(--font-size-small);
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    text-align: left;
    margin-bottom: 10px;
}

subsection details > p, subsection details > li {
    font-size: var(--font-size-tiny);
    font-family: Arial, Helvetica, sans-serif;
    font-weight: normal;
    text-align: justify;
    margin: 0;
}
